/*
    You can add your own custom styles here.
*/

.article-content {
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}


.article-page--full .article-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.article-container {
    max-width: 1200px; 
}

.social-icons {
  &__link[href*="linkedin"] {
    svg {
      filter: grayscale(100%) brightness(1.2);
      stroke: #666;
      transition: all 0.3s ease;

      &:hover {
        filter: grayscale(0%);
        stroke: #0a66c2;
      }
    }
  }
}