{{ define "main" }}
<div class="prose dark:prose-invert max-w-[720px] mx-auto publications-wrapper">
  {{ range .Params.pubs }}
    <div class="pub-entry">

      <!-- Row 1 -->
      <div class="pub-row">
        <p class="row-left text-base font-medium m-0">
          <a href="{{ .link }}">{{ .title }}</a>
        </p>
        <p class="row-right text-sm text-smart m-0">
          {{ .venue }}
        </p>
      </div>

      <!-- Row 2 -->
      <div class="pub-row">
        <div class="row-left text-sm text-smart m-0">
          {{ .authors | markdownify }}
        </div>
        <div class="row-right">
          {{ range .links }}
            <a href="{{ .url }}" class="text-sm underline">{{ .label }}</a>
          {{ end }}
        </div>
      </div>

    </div>
  {{ end }}
</div>
{{ end }}
